
html {
  height: 100%;
}


body {
  background: linear-gradient(rgba(26,26,26,0.7), rgba(26,26,26,0.7)), url("/img/torontoSkyline.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.time{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem;
  color: white;
}

.time h1 {
  font-size: 5rem;
}

span {
  font-size: 4rem;
}



.weatherWidget {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 15px;
  right: 20px;
  color: white;
}

.weatherWidget .description {
  margin-bottom: -20px;
}

.locationAdd {
  display: flex;
  position: fixed;
  top: 45px;
  right: 50px;
  bottom: 300px;
}

#dropdownButton {
  background-color: transparent;
  border: solid white;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}
#dropdownButton:hover {
  background-color: white;
  border-color: transparent;
  color: black;
}

