


.App {
  background: linear-gradient(rgba(26, 26, 26, 0.7), rgba(26, 26, 26, 0.7)), url("/img/toronto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.App-Seoul {
  background: linear-gradient(rgba(26, 26, 26, 0.7), rgba(26, 26, 26, 0.7)), url("/img/seoul.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10rem;
  color: white;
}

.time h1 {
  font-size: 5rem;
 }

span {
  font-size: 4rem;
}

.weatherWidget {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 15px;
  right: 20px;
  color: white;
}

.weatherWidget .description {
  margin-bottom: -10px;
}

.weatherWidget .temp {
margin-bottom: -20px;
}

.locationAddButton {
  display: flex;
  margin: -575px 0px 0px 1220px;
  position: fixed;
  right: 40px;
}

#dropdownButton {
  background-color: transparent;
  position: fixed;
  border: solid white;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#dropdownButton:hover {
  background-color: white;
  border-color: transparent;
  color: black;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.dropdown-menu {
  background-color: transparent;
  color: black;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.dropdown-item {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.dropdown-item:hover {
  background: linear-gradient(rgba(116, 112, 112, 0.7), rgba(116, 112, 112, 0.7));
  border-radius: 50px;

}